:root {
  --main-col: rgb(239, 243, 229);
  --main-yellow: rgb(240, 222, 166);
  --main-blue: #45567d;
  --main-gray: rgba(0, 0, 0, 0.661);;
}

body {
  margin: 0;
  background-color: var(--main-col);
}


.nav {
  height: 140px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.025);
  font-size: 4em;
  position: sticky;
  top: 0;
  background-color: rgba(242, 240, 240, 0.971);
  text-align: center;
}

.logo {
  font-size: 1.5em;
  padding: 5px 0 5px 10px;
  font-family: "Source Code Pro", monospace;
  letter-spacing:-.1cm;
}

/* .nav > img {
  color: var(--main-gray);
  width: 100px;
  height: 100px;
} */

a {
  text-decoration: none;
  /* color: var(--main-yellow); */
}

.guide {
  font-size: small;
  color: black !important;
  text-align: end;
  font-family: "Source Code Pro", monospace;
  padding: 0px 10px 10px 10px;
  text-decoration: underline rgba(0, 0, 0, 0.316);

}
.home {
  height: 100vh;
  background-image: url("./components/Pic/splitz.png");
  background-size: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.transform-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.transform-wrapper {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transform-word {
  font-family: "Source Code Pro", monospace;
  color: var(--main-gray);
  font-size: 2em;
}

/* members comp */

.member__box {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  font-size: 2.5em;
  padding-top: 70px;
  margin-bottom: 10px;
  color: var(--main-gray);
}

.member__box > input {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  margin: 25px auto 0 auto;
  font-size: larger;
}

.member__container > button {
  width: 150px;
  height: 50px;
  margin-top: 50px;
  /* margin-bottom: 0px; */
  font-size: x-large;
}

.member__container {
  text-align: center;
  /* height: 100%; */
  margin-bottom: 50px;
}

.member {
  margin-bottom: 10px;
  border-radius: 5px;
}

input[type="number"],
input[type="text"] {
  width: 200px; /* Adjust the width as needed */
  padding: 8px; /* Adjust the padding as needed */
}

.member__btn {
  margin-bottom: 50px;
}

/* rent */

.rent {
  height: 100%;
  text-align: center;
  background-size: 200px;
  font-family: "Source Code Pro", monospace;
  margin-bottom: 50px;
  /* background-image: url("./components/Pic/splitz.png"); */
}

.total__rent__btn {
  height: 35px;
  margin-bottom: 10px;
}

.rent > h2 {
  font-size: 2em;
  color: var(--main-gray);
}

.custom {
  color: var(--main-gray);
  text-decoration-line: underline;
  font-size: 1.5em;
}

.custom:hover {
  cursor: pointer;
  color: rgba(0, 0, 255, 0.684);
}

.rent__category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 25px;
}

.category,
.amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 25px;
  /* padding-left: 6px; */
  /* margin-bottom: 50px; */
}
.category > input,
.amount > input {
  margin-left: auto;
  margin-right: auto;
}
.rent__category > button {
  height: 50px;
  width: 150px;
  margin: 10px auto 0 auto;
}

.rent__indv {
  /* border: 1px solid black; */
  margin: 5px;
  font-size: 1.5em;
}

.rent__indv > p {
  color: var(--main-gray);
}

.rent__indv__text {
  font-size: x-large;
  padding-bottom: 5px;
}

.member__category__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.member__category {
  font-size: x-small;
  border: 1px solid transparent;
  border-radius: 10px;
  width: fit-content;
  display: flex;
  /* align-items: center; */
  background-color: #0003094b;
  color: white;
  padding: 4px 15px 4px 4px;
  position: relative;
}

.member__btn__x {
  width: 4px;
  height: 2px;
  position: absolute;
  top: 4px;
  right: 10px;
}

.member__category,
.member__btn__x:hover {
  cursor: pointer;
}

/* CUSTOMIZE */

.customized {
  text-align: center;
  height: 100%;
  margin-top: 25px;
  padding-top: 50px;
  font-family: "Source Code Pro", monospace;

}

.customized__title {
  color: var(--main-gray);
  font-family: "Source Code Pro", monospace;
  font-size: 2em;
  padding-bottom: 25px;
}

.customized__input {
  padding-bottom: 10px;
}

.customized__input__box > button {
  width: 100px;
  height: 40px;
  font-size: larger;
  margin-bottom: 10px;
}

.total__exp > p {
  font-size: 1.5em;
  font-weight: bold;
}

.total__exp__list {
  font-size: x-large;
}

.rent__indv {
  margin-bottom: 50px;
}

.footer {
  height: 100px;
  font-family: "Source Code Pro", monospace;
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding-top: 70px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(242, 240, 240, 0.971);
}

.about {
  font-family: "Source Code Pro", monospace;
  padding: 75px;
}

/* .counter {
  font-size: 2.5em;
  color: var(--main-gray);
  position: absolute;
  top: 0;
  right: 0;
} */